<div class="links">

    <a href="{{ info.instagram_link }}" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="{{ info.facebook_link }}" title="FaceBook"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="{{ info.telegram_link }}" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    <a href="{{ info.github_link }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
    <a href="tel:{{ info.contact }}" title="Call Me" aria-label="Call Me">
        <i class="fa-solid fa-phone"></i>
    </a>

</div>