<header>
    <nav>

        <div class="logo">
            <a href="{% url 'pages:home' %}"><i class="fa-solid fa-address-card"></i></a>
        </div>
        
        <div class="urls">
            <ul class="header-links">
                <li><a href="{% url 'pages:home' %}"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="#"><i class="fa-solid fa-question"></i> About</a></li>
                <li><a href="#"><i class="fa-solid fa-bolt-lightning"></i> Skills</a></li>
                <li><a href="#"><i class="fa-solid fa-briefcase"></i> Services</a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i> Portfolio</a></li>
                <li><a href="#"><i class="fa-solid fa-comment"></i> Reviews</a></li>
            </ul>
    
            <a class="login-btn" href="#">Login</a>
        </div>
        
    </nav>
</header>